[Unit]
Description=xlxd
Requires=network.target
After=systemd-user-session.service network.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/xlxd
ExecStart=/usr/local/bin/xlxd $REFLECTOR $MYIP $TRANSIP
Restart=always

[Install]
WantedBy=multi-user.target
