[Unit]
Description=xrfd
Requires=network.target
After=systemd-user-session.service network.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/xrfd
ExecStart=/usr/local/bin/xrfd $REFLECTOR $MYIP $TRANSIP
Restart=always

[Install]
WantedBy=multi-user.target
